body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-content: center;
    justify-content: center;
}


a {
    position: relative;
    padding: 1em;
    text-align: center;
    border: .5px solid #78909c59;
    user-select: none;
}

.word,
.translation{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
    color: #78909c;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: opacity .3s linear;
}

.translation {
    opacity: 0;
}

a.translate .word {
    opacity: 0;
}

a.translate .translation {
    opacity: 1;
}