body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

a {
    padding: 1em;
    text-align: center;
    border: .5px solid #78909c59;
    user-select: none;
}
.tip {
    position: absolute;
    padding: 1em;
    color: #78909C;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0 #78909c59;
}
